<div class="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
    <div class="item" fxFlex="240px">

        <md-card>
            <div class="md-block">
                <md-input
                        [(ngModel)]="model.username"
                        placeholder="username"
                        required
                        autofocus></md-input>
            </div>

            <div class="md-block">
                <md-input
                        [(ngModel)]="model.password"
                        placeholder="password"
                        type="password"
                        required></md-input>
            </div>
            <button md-raised-button color="primary"
                    (click)="onSubmit()">Login
            </button>

        </md-card>

    </div>
</div>